
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayput.cshtml";
}


<div class="monthly-grid">
    <div class="form-group row">
        <div class="progressbar-heading grids-heading col-sm-6">
            <h2><strong>XEM DANH SÁCH KHÁCH HÀNG</strong></h2>
        </div>

        <div class="col-sm-6">
            <a href="#" @*data-target="#modal-add-edit" data-toggle="modal"*@ class="btn btn-success pull-right" id="btnCreate"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div id="modal-customer" class=" modal fade modal-darkorange in" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @Html.Partial("~/Views/ManageCustomer/CRUDModal.cshtml")
            </div>
        </div>
    </div>

    <div class="modal fade text-center" id="modal-add-edit">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="myCustomerTable" style="width:100%">
            <thead>
                <tr>

                    <th style="text-align:center; vertical-align:middle">Mã khách hàng</th>
                    <th style="text-align:center; vertical-align:middle">Tên khách hàng</th>
                    <th style="text-align:center; vertical-align:middle">Số điện thoại</th>
                    <th style="text-align:center; vertical-align:middle">Địa chỉ</th>
                    <th style="text-align:center; vertical-align:middle">Năm Sinh</th>
                    <th style="text-align:center; vertical-align:middle">#</th>
                </tr>
            </thead>
            <tbody id="tbl-customer-content"></tbody>
        </table>
    </div>

    <script id="table-customer-template" type="x-tmpl-mustache">
        <tr>
            <td id="productCode" style="text-align:center; vertical-align:middle">{{CustomerCode}}</td>
            <td style="text-align:center; vertical-align:middle">{{CustomerName}}</td>
            <td style="text-align:center; vertical-align:middle">{{PhoneNumber}}</td>
            <td style="text-align:center; vertical-align:middle">{{Address}}</td>
            <td style="text-align:center; vertical-align:middle">{{YearOfBirth}}</td>

            <td scope="row" style="text-align:center; vertical-align:middle">
                <button class="btn btn-default btn-sm btn-edit" data-id="{{ID}}"><i class="far fa-edit"></i></button>
            </td>
        </tr>
    </script>
</div>
@*data-target="#modal-add-edit" data-toggle="modal"*@
@section Scripts{
    <script src="~/www.root/controller/customerController/manageCustomer.js" charset="utf-8"></script>
}

