<div class="modal-header">
    <h4 class="modal-title"><span id="title">Thêm mới hóa đơn</span></h4>
    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <div id="horizontal-form">
        <form class="form-horizontal" role="form" id="frmProduct">
            <div class="form-group row">
                <label for="txtBillCode" class="col-sm-3 col-form-label">Mã hóa đơn<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtBillCode" name="txtBillCode" readonly>
                </div>
                <label for="txtCustomerName" class="col-sm-3 col-form-label">Tên khách hàng<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtCustomerName" name="txtCustomerName">
                    <span id="validateCustomerName" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtPhoneNumber" class="col-sm-3 col-form-label">Số điện thoại<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtPhoneNumber" name="txtPhoneNumber">
                    <span id="validatePhoneNumber" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtAddress" class="col-sm-3 col-form-label">Địa chỉ<span class="star">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtAddress" name="txtAddress">
                    <span id="validateAddress" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtDate" class="col-sm-3 col-form-label">Ngày giao<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtDate" name="txtDate" disabled>
                    <span id="validateDate" style="color:red"></span>
                </div>
                <label for="txtShipper" class="col-sm-3 col-form-label">Người giao<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtShipper" name="txtShipper">
                    <span id="validateShipper" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtInstallmentPrice" class="col-sm-3 col-form-label">Ghi chú<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtNote" name="txtNote">
                    <span id="validateNote" style="color:red"></span>
                </div>
                <label for="txtGrandTotal" class="col-sm-3 col-form-label">Thành tiền<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtGrandTotal" name="txtGrandTotal" disabled>
                    <span id="txtGrandTotal" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="table-responsive">
                    <input type="hidden" id="hidId" value="" />
                    <table class="table table-bordered" id="myTable3">
                        <thead>
                            <tr>
                                <th width="5%">STT</th>
                                <th>Tên sản phẩm<span class="star">*</span></th>
                                <th>Số lượng<span class="star">*</span></th>
                                <th>Giá bán<span class="star">*</span></th>
                                <th>Thành tiền<span class="star">*</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-product"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <button class="btn btn-sm btn-success" type="button" id="btn-add-product">Thêm</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <script type="x-tmpl-mustache" id="template-table-product" class="template-table-product">
                        <tr data-id="{{ProductID}}" data-key="{{ID}}">
                            <td width="5%">{{STT}}</td>
                            <td id="txtProductID-col" width="40%" ">
                                <select id="dropdownProduct" class="form-control select2"><option>Vui lòng chọn sản phẩm</option></select>
                            </td>
                            <td id="txtQuantity-col">
                                <input name="txtQuantityProduct" id="txtQuantityProduct" class="form-control" value="{{Quantity}}">
                            </td>
                            <td id="txtSalePrice-col">
                                <input name="txtSalePriceProduct" id="txtSalePriceProduct" class="form-control" value="{{SalePrice}}">
                            </td>
                            <td id="txtGrandTotal-col">
                                <input name="txtGrandTotal" id="txtGrandTotalProduct" class="form-control" value="{{GrandTotal}}" disabled>
                            </td>

                            <td><button class="btn btn-sm btn-danger btn-delete-attribute" type="button" data-id="{{ProductID}}"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </script>
                    <script type="x-tmpl-mustache" id="template-table-load" class="template-table-load">
                        <tr data-id="{{ProductID}}" data-key="{{ID}}">
                            <td width="5%">{{STT}}</td>
                            <td id="txtProductID-col" width="40%" >
                                <input name="txtProductName" id="txtProductName" class="form-control" value="{{ProductName}}" disabled>
                            </td>
                            <td id="txtQuantity-col">
                                <input name="txtQuantityProduct" id="txtQuantityProduct" class="form-control" value="{{Quantity}}">
                            </td>
                            <td id="txtSalePrice-col">
                                <input name="txtSalePriceProduct" id="txtSalePriceProduct" class="form-control" value="{{SalePrice}}" disabled>
                            </td>
                            <td id="txtGrandTotal-col">
                                <input name="txtGrandTotal" id="txtGrandTotalProduct" class="form-control" value="{{GrandTotal}}" disabled>
                            </td>

                            <td><button class="btn btn-sm btn-danger btn-delete-attribute" type="button" data-id="{{ProductID}}"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" id="btnCashCreateNew" class="btn btn-success">Ghi</button>
                    <button type="button" id="btnAttributeCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>