################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebsiteQuyetTien_byAurora Team/v15/Server/sqlite3/db.lock
/.vs/WebsiteQuyetTien_byAurora Team/v15/Server/sqlite3/storage.ide
/.vs/WebsiteQuyetTien_byAurora Team/v15/Server/sqlite3/storage.ide-shm
/.vs/WebsiteQuyetTien_byAurora Team/v15/Server/sqlite3/storage.ide-wal
/.vs/WebsiteQuyetTien_byAurora Team/v15/.suo
/.vs/config/applicationhost.config

