@using WebsiteQuyetTien_byAurora_Team.Models;
@model IEnumerable<Product>



<div id="search" class="collapse">
    <div class="container">
        <form role="search" class="ml-auto" autocomplete="off">
            <div class="input-group">
                <input type="text" placeholder="Tìm kiếm" class="form-control" id="tags">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <div id="productSearch" style="display: none;">
            @foreach (var item in Model)
            {
                <p>@item.ProductName</p>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>