<div class="modal-header">
    <h4 class="modal-title"><span id="title-installmentbill">Thêm hóa đơn trả góp</span></h4>
    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <div id="horizontal-form">
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <label for="txtBillCode" class="col-sm-3 col-form-label">Mã hóa đơn trả góp<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtBillCode_InsEdit" name="txtInsCode_InsEdit" readonly>
                </div>
                <label for="txtCustomerName" class="col-sm-3 col-form-label">Tên khách hàng<span class="star">*</span></label>
                <div class="col-sm-3">
                    <select type="text" id="txtCustomerName_InsEdit" name="txtCustomerName_InsEdit" class="form-control select3"></select>
                    <span id="validateCustomerNameIns" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtDate" class="col-sm-3 col-form-label">Ngày lập hóa đơn<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtDate_InsEdit" name="txtDate_InsEdit" disabled>
                    <span id="validateDate" style="color:red"></span>
                </div>
                <label for="txtShipper" class="col-sm-3 col-form-label">Người giao<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtShipper_InsEdit" name="txtShipper_InsEdit">
                    <span id="validateShipper" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtInstallmentPrice" class="col-sm-3 col-form-label">Ghi chú<span class="star">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtNote_InsEdit" name="txtNote_InsEdit">
                    <span id="validateNote" style="color:red"></span>
                </div>

            </div>
            <div class="form-group row">
                <label for="txtInstallmentPrice" class="col-sm-3 col-form-label">Phương thức<span class="star">*</span></label>
                <div class="col-sm-3">
                    <select id="dropdown_method" class="form-control">
                        <option value="Tháng">Tháng</option>
                        <option value="Quý">Quý</option>
                        <option value="Năm">Năm</option>
                    </select>
                    <span id="validateNote" style="color:red"></span>
                </div>
                <label for="txtGrandTotal" class="col-sm-3 col-form-label">Đơn vị<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtPeriod_InsEdit" name="txtGrandTotal_InsEdit">
                    <span id="validatePeriodEdit" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtInstallmentPrice" class="col-sm-3 col-form-label">Đã đưa<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtTaken_InsEdit" name="txtGrandTotal_InsEdit">
                    <span id="validateTakenEdit" style="color:red"></span>
                </div>
                <label for="txtGrandTotal" class="col-sm-3 col-form-label">Còn lại<span class="star">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtRemain_InsEdit" name="txtGrandTotal_InsEdit" disabled>
                    <span id="validateRemainEdit" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtGrandTotal" class="col-sm-3 col-form-label"><span class="star"><strong>Tổng Thành tiền</strong></span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtGrandTotal_InsEdit" name="txtGrandTotal_InsEdit" disabled>
                    <span id="txtGrandTotal" style="color:red"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="table-responsive">
                    <input type="hidden" id="hidId" value="" />
                    <table class="table table-bordered" id="myTable4">
                        <thead>
                            <tr>
                                <th width="5%">STT</th>
                                <th>Tên sản phẩm<span class="star">*</span></th>
                                <th>Số lượng<span class="star">*</span></th>
                                <th>Giá bán<span class="star">*</span></th>
                                <th>Thành tiền<span class="star">*</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-product1"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <button class="btn btn-sm btn-success" type="button" id="btn-add-product_insEdit">Thêm</button>
                                </td>

                            </tr>
                        </tfoot>
                    </table>

                    <script type="x-tmpl-mustache" id="template-table-insedit" class="template-table-insedit">
                        <tr data-id="{{ProductID}}" data-key="{{ID}}">
                            <td width="5%">{{STT}}</td>
                            <td id="txtProductID-col" width="40%">
                                <select id="dropdownIns" class="form-control select2"><option value="0">Vui lòng chọn sản phẩm</option></select>
                                <span id="validatedropdownIns" style="color:red"></span>
                            </td>
                            <td id="txtQuantity-col">
                                <input name="txtQuantityProduct" id="txtQuantityProduct_Ins" class="form-control" value="{{Quantity}}">
                                <span id="validateQuantityIns" style="color:red"></span>
                            </td>
                            <td id="txtSalePrice-col">
                                <input name="txtSalePriceProduct" id="txtSalePriceProduct_Ins" class="form-control" value="{{SalePrice}}" disabled>
                            </td>
                            <td id="txtGrandTotal-col">
                                <input name="txtGrandTotal" id="txtGrandTotalProduct_Ins" class="form-control" value="{{GrandTotal}}" disabled>
                            </td>

                            <td><button class="btn btn-sm btn-danger btn-delete-attribute" type="button" data-id="{{ProductID}}"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </script>
                    <script type="x-tmpl-mustache" id="template-table-loaded" class="template-table-loaded">
                        <tr data-id="{{ProductID}}" data-key="{{ID}}">
                            <td width="5%">{{STT}}</td>
                            <td id="txtProductID-col" width="40%">
                                <input name="txtProductName" id="txtProductName_Edit" class="form-control" value="{{ProductName}}" disabled>
                            </td>
                            <td id="txtQuantity-col">
                                <input name="txtQuantityProduct" id="txtQuantityProduct_Ins" class="form-control" value="{{Quantity}}">
                                <span id="validateQuantityIns" style="color:red"></span>
                            </td>
                            <td id="txtSalePrice-col">
                                <input name="txtSalePriceProduct" id="txtSalePriceProduct_Ins" class="form-control" value="{{SalePrice}}" disabled>
                            </td>
                            <td id="txtGrandTotal-col">
                                <input name="txtGrandTotal" id="txtGrandTotalProduct_Ins" class="form-control" value="{{GrandTotal}}" disabled>
                            </td>
                        </tr>
                    </script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" id="btnInsCreateNew" class="btn btn-success">Ghi</button>
                    <button type="button" id="btnAttributeCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>