<div class="col-lg-3">
    <!-- *** KHU VỰC MENU *** -->
    <div class="card sidebar-menu mb-4">
        <div class="card-header">
            <h3 class="h4 card-title">Danh mục</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills flex-column">
                <li>
                    <a href="@Url.Action("About","Home")" class="nav-link">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Về Quyết Tiến
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("News","Home")" class="nav-link">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Tin Tức Và Sự Kiện
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Contactus","Home")" class="nav-link">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Liên Hệ
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("InstallmentHelper","Home")" class="nav-link">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Hướng dẫn mua
                        trả góp
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- *** HẾT KHU VỰC MENU  ***-->
    <div class="banner">
        <a href="#"><img src="~/www.root/shared/user_layout/img/banner.jpg" alt="sales 2014" class="img-fluid"></a>
    </div>
</div>                



